
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Les équipes"] - Tournois_ASP</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/boostrap.css" />
        <link rel="stylesheet" href="~/css/boostrap-grid.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/boostrap.css" />
    <link rel="stylesheet" href="~/css/boostrap-grid.css" />
</head>

<body class="container">
    
    <link rel="stylesheet" href="~/css/boostrap.css" />
    <link rel="stylesheet" href="~/css/boostrap-grid.css" />

    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <h1>Les équipes</h1>
            @foreach (var equipe in ViewBag.ListeEquipe)
            {
                <div class="row">

                    <div class="col-auto">
                        <div class="col">
                            
                        </div>
                        <div class="col-auto">
                            <b>Nom de l'équipe : </b>@equipe.Nom
                            <br /><br />
                            <b>N° de l'équipe : </b>@equipe.Ide
                            <br /><br />
                            <b>Joueur 1 : </b>@equipe.Joueur1
                            <br /><br />
                            <b>Joueur 2 : </b>@equipe.Joueur2
                            <br /><br />

                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</body>

